
{% block title %}Main Page{% endblock %}
{% block head %}

<style>

</style>

{% endblock %}
{% block content %}

hi there

    {% for data in weekly %}
        <h1>{{ weekly.forcast_time }}  -- {{ weekly.weather_code }}  -- {{ weekly.temperature }}  -- {{ weekly.weather }}</h1> <br>
    {% endfor %}
    <br><br><br><br>

    {% for data in current_weather %}
        <h1>{{ weekly.current_time }}  -- {{ weekly.rain }}  -- {{ weekly.WSmax }}  -- {{ weekly.Wdmax }} --
        {{ weekly.WS }}  -- {{ weekly.Wd }}  -- {{ weekly.STDwd }}  -- {{ weekly.TD }} --
      {{ weekly.TW }}  -- {{ weekly.TDmax }}  -- {{ weekly.TDmin }}  -- {{ weekly.WS1mm }} --
    {{ weekly.WS10mm }}  -- {{ weekly.time }}  -- {{ weekly.TG }}  -- {{ weekly.RH }}</h1> <br>
    {% endfor %}

{% endblock %}
