.header .logo {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.header .status {
  float: right;
  width: 100px;
  height: 100px;
}
