
{% block content %}

<h1>    current data:</h1>




<table>
    <tr>
        <th>current_time</th>
        <th>Rain</th>
        <th>WSmax</th>
        <th>WDmax</th>
        <th>WS</th>
        <th>WD</th>
        <th>STDwd</th>
        <th>TD</th>
        <th>TW</th>
        <th>TDmax</th>
        <th>TDmin</th>
        <th>WS1mm</th>
        <th>WS10mm</th>
        <th>time</th>
        <th>TG</th>
        <th>RH</th>
    </tr>
    {% for data in current_weather %}
    <tr>
        <td>{{ data.current_time }}</td>
        <td>{{ data.rain }}</td>
        <td>{{ data.wsmax }}</td>
        <td>{{ data.wdmax }}</td>
        <td>{{ data.ws }}</td>
        <td>{{ data.wd }}</td>
        <td>{{ data.stdwd }}</td>
        <td>{{ data.td }}</td>
        <td>{{ data.tw }}</td>
        <td>{{ data.tdmax }}</td>
        <td>{{ data.tdmin }}</td>
        <td>{{ data.ws1mm }}</td>
        <td>{{ data.ws10mm }}</td>
        <td>{{ data.time }}</td>
        <td>{{ data.tg }}</td>
        <td>{{ data.rh }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
