
{% block title %}Main Page{% endblock %}
{% block head %}

<style>

</style>

{% endblock %}
{% block content %}

weekly data:
<br><br>
    {% for data in weekly %}
        <h1>{{ data.forecast_time }}  -- {{ data.weather_code }}  -- {{ data.temperature }}  -- {{ data.weather }}</h1> <br>
    {% endfor %}
    <br><br><br><br>
    current data:
    <br><br>
    {% for data in current_weather %}
        <h1>{{ data.current_time }}  -- {{ data.Rain }}  -- {{ data.WSmax }}  -- {{ data.WDmax }} --
        {{ data.WS }}  -- {{ data.WD }}  -- {{ data.STDwd }}  -- {{ data.TD }} --
      {{ data.TW }}  -- {{ data.TDmax }}  -- {{ data.TDmin }}  -- {{ data.WS1mm }} --
    {{ data.WS10mm }}  -- {{ data.time }}  -- {{ data.TG }}  -- {{ data.RH }}</h1> <br>
    {% endfor %}

{% endblock %}
{% block content2 %}

<table>
    <tr>
        <th>Field 1</th>
        <th>Field 2</th>
        <th>Field 3</th>
        <th>Field 4</th>
        <th>Field 5</th>
        <th>Field 6</th>
        <th>Field 7</th>
        <th>Field 8</th>
        <th>Field 9</th>
        <th>Field 10</th>
        <th>Field 11</th>
        <th>Field 12</th>
        <th>Field 13</th>
        <th>Field 14</th>
        <th>Field 15</th>
    </tr>
    {% for data in current_weather %}
    <tr>
        <td>{{ data.field1 }}</td>
        <td>{{ data.field2 }}</td>
        <td>{{ data.field3 }}</td>
        <td>{{ data.field4 }}</td>
        <td>{{ data.field5 }}</td>
        <td>{{ data.field6 }}</td>
        <td>{{ data.field7 }}</td>
        <td>{{ data.field8 }}</td>
        <td>{{ data.field9 }}</td>
        <td>{{ data.field10 }}</td>
        <td>{{ data.field11 }}</td>
        <td>{{ data.field12 }}</td>
        <td>{{ data.field13 }}</td>
        <td>{{ data.field14 }}</td>
        <td>{{ data.field15 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
