{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href='/static/dashboard.css'>
<script src='/static/dashboard.js'></script>
{% endblock head%}

{% block content %}

<h1>weekly data:</h1>
<br><br>
    <!-- {% for data in weekly %}
        <h1>{{ data.forecast_time }}  -- {{ data.weather_code }}  -- {{ data.temperature }}  -- {{ data.weather }}</h1> <br>
    {% endfor %} -->

    <table>
        <tr>
            <th>forecast_time</th>
            <th>weather_code</th>
            <th>temperature</th>
            <th>weather</th>
          </tr>
          {% for data in weekly.reverse %}
          <tr>
        <td>{{ data.forecast_time }}</td>
        <td>{{ data.weather_code }}</td>
        <td>{{ data.temperature }}</td>
        <td>{{ data.weather }}</td>
    </tr>
    {% endfor %}
</table>
    <br><br><br><br>
<h1>    current data:</h1>
    <!-- <br><br>
    {% for data in current_weather %}
        <h1>{{ data.current_time }}  -- {{ data.Rain }}  -- {{ data.WSmax }}  -- {{ data.WDmax }} --
        {{ data.WS }}  -- {{ data.WD }}  -- {{ data.STDwd }}  -- {{ data.TD }} --
      {{ data.TW }}  -- {{ data.TDmax }}  -- {{ data.TDmin }}  -- {{ data.WS1mm }} --
    {{ data.WS10mm }}  -- {{ data.time }}  -- {{ data.TG }}  -- {{ data.RH }}</h1> <br>
    {% endfor %} -->



<table>
    <tr>
        <th>current_time</th>
        <th>Rain</th>
        <th>WSmax</th>
        <th>WDmax</th>
        <th>WS</th>
        <th>WD</th>
        <th>STDwd</th>
        <th>TD</th>
        <th>TW</th>
        <th>TDmax</th>
        <th>TDmin</th>
        <th>WS1mm</th>
        <th>WS10mm</th>
        <th>time</th>
        <th>TG</th>
        <th>RH</th>
    </tr>
    {% for data in current_weather %}
    <tr>
        <td>{{ data.current_time }}</td>
        <td>{{ data.rain }}</td>
        <td>{{ data.wsmax }}</td>
        <td>{{ data.wdmax }}</td>
        <td>{{ data.ws }}</td>
        <td>{{ data.wd }}</td>
        <td>{{ data.stdwd }}</td>
        <td>{{ data.td }}</td>
        <td>{{ data.tw }}</td>
        <td>{{ data.tdmax }}</td>
        <td>{{ data.tdmin }}</td>
        <td>{{ data.ws1mm }}</td>
        <td>{{ data.ws10mm }}</td>
        <td>{{ data.time }}</td>
        <td>{{ data.tg }}</td>
        <td>{{ data.rh }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
