
{% block title %}Main Page{% endblock %}
{% block head %}

<style>

</style>

{% endblock %}
{% block content %}

hi there

    {% for data in weekly %}
        <h1>{{ data.forecast_time }}  -- {{ data.weather_code }}  -- {{ data.temperature }}  -- {{ data.weather }}</h1> <br>
    {% endfor %}
    <br><br><br><br>

    {% for data in current_weather %}
        <h1>{{ data.current_time }}  -- {{ data.rain }}  -- {{ data.WSmax }}  -- {{ data.Wdmax }} --
        {{ data.WS }}  -- {{ data.Wd }}  -- {{ data.STDwd }}  -- {{ data.TD }} --
      {{ data.TW }}  -- {{ data.TDmax }}  -- {{ data.TDmin }}  -- {{ data.WS1mm }} --
    {{ data.WS10mm }}  -- {{ data.time }}  -- {{ data.TG }}  -- {{ data.RH }}</h1> <br>
    {% endfor %}

{% endblock %}
